@import "tailwindcss";

html {
	scroll-behavior: smooth;
}

:root {
	--background: #000;
	--foreground: #fff;
	--muted-foreground: #fff;
	--font-poppins: 'Poppins', sans-serif;
}

body {
	background: var(--background);
	color: var(--foreground);
	min-height: 100vh;
	font-family: var(--font-poppins), sans-serif;
}

[contenteditable]::-webkit-scrollbar {
	display: none;
}
.custom-scrollbar {
	scrollbar-width: thin;
	scrollbar-color: #5a5a5a transparent;
	padding-right: 0.5rem;
}
.custom-scrollbar::-webkit-scrollbar {
	width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
	background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: #5a5a5a;
	border-radius: 10px;
	border: 1px solid transparent;
}